@import "tailwindcss";

body {
  min-height: 100%;
  width: 100%;
  background: #212121;
  font-family: "Inter", sans-serif;
}

@layer components {
  .nav-shadow {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.35);
  }
  .section-p {
    @apply 2xl:px-20 2xl:py-20 md:px-10 md:py-10 p-7;
  }
  .custom-text {
    @apply bg-linear-to-r from-[#60a5fa] to-[#a78bfa] bg-clip-text text-transparent font-normal;
  }
  .typed {
    font-family: "Courier New", Courier, monospace;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s steps(16, end) forwards;
  }
  .tech {
    @apply 2xl:w-10 2xl:h-10 md:w-9 md:h-9 h-8 w-8 cursor-pointer;
  }
  .tech-label {
    @apply text-[#F6F6F6] font-bold md:text-[0.775rem] text-[0.7rem];
  }
  .tech:hover {
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.35));
  }
  .btn-cv {
    @apply bg-transparent px-4 py-2 cursor-pointer rounded-3xl
    text-center text-[#F6F6F6] border border-[#F6F6F6];
  }
  .btn-cv:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.35);
  }
  .img-shadow {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
  }
  .img-shadow:hover {
    transform: scale(1.03);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
